.container {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #e5e5e5;
  width: 300px;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  background-color: white;
}

.title {
  padding-left: 1rem;
}

.sub {
  font-size: 0.7rem;
}

.details {
  font-size: 0.8rem;
  padding: 0.5rem;
  background-color: white;
}

.footer {
  display: flex;
  width: 300px;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
  background-color: white;
}

.iconStyle {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  justify-content: center;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #e5e5e5;
}

.footer_actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.footer_icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
