.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 1rem;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
